@use "src/styles/style";

.container {
  @include style.container;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  word-break: break-all;
}

// card共通設定
.mat-card-parent {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.mat-card {
  width: 75%;
}
// cardの中のpaddingを0に
.mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  padding: 0;
}

//単一選択の設定
.selection-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 80px;
}
.mat-radio-group .mat-radio-button .mat-radio-label {
  white-space: normal;
  padding: 0%;
}

.radio-button {
  margin: 10px;
}

//複数選択の設定
.multi-choice {
  padding: 30px 80px;
  padding-top: 50px;
  align-items: flex-start;

  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    li {
      padding-top: 15px;
    }
  }
}

//並び替えのCSS
.sort-list {
  width: 83%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.sort-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.sort-list.cdk-drop-list-dragging .sort-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sort-choice {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

//下部ボタン
.button-container {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
