<div class="container">
  <!--問題出題形式の分岐と表示-->
  <ng-container [ngSwitch]="question?.Format">
    <div *ngSwitchCase="'single'">
      <ng-container *ngTemplateOutlet="single"></ng-container>
    </div>

    <div *ngSwitchCase="'multi'">
      <ng-container *ngTemplateOutlet="multi"></ng-container>
    </div>

    <div *ngSwitchCase="'sort'">
      <ng-container *ngTemplateOutlet="sort"></ng-container>
    </div>
  </ng-container>

  <!--単一選択-->
  <ng-template #single>
    <div class="question">{{ question.question }}</div>
    <div>
      <mat-radio-group
        aria-labelledby="radio-button-label"
        class="selection-group"
        [(ngModel)]="selectedChoice"
      >
        <mat-radio-button
          class="radio-button"
          *ngFor="let singleChoice of question.selection; index as i"
          [value]="i"
        >
          {{ singleChoice.Statement }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-template>

  <!--複数選択-->
  <ng-template #multi>
    <div class="question">
      {{ question.question }}
    </div>
    <div class="multi-choice" [formGroup]="selectionForm">
      <ul formArrayName="selections">
        <li *ngFor="let multiChoice of question.selection; index as i">
          <mat-checkbox [formControlName]="i">
            {{ multiChoice.Statement }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
  </ng-template>

  <!--並び替え-->
  <ng-template #sort>
    <div class="question">{{ question.question }}</div>
    <div class="sort-choice">
      <div cdkDropList class="sort-list" (cdkDropListDropped)="drop($event)">
        <div class="sort-box" *ngFor="let sort of question.selection" cdkDrag>
          {{ sort.Statement }}
        </div>
      </div>
    </div>
  </ng-template>

  <!--下部ボタン-->
  <div class="button-container">
    <button mat-raised-button color="primary">閉じる</button>
    <button mat-raised-button color="primary" (click)="onClickMe()">
      回答する
    </button>
  </div>
</div>
