<div class="container">
  <!--正誤分岐-->
  <ng-container [ngSwitch]="result">
    <div *ngSwitchCase="true">
      <ng-container *ngTemplateOutlet="correct"></ng-container>
    </div>
    <div *ngSwitchCase="false">
      <ng-container *ngTemplateOutlet="inCorrect"></ng-container>
    </div>
  </ng-container>

  <!--正誤表示-->
  <ng-template #correct>
    <div class="result" style="color: green">正解</div>
  </ng-template>
  <ng-template #inCorrect>
    <div class="result" style="color: red">不正解</div>
  </ng-template>

  <!--問題出題形式の分岐と表示-->
  <ng-container [ngSwitch]="questionType">
    <div *ngSwitchCase="'single'">
      <ng-container *ngTemplateOutlet="single"></ng-container>
    </div>

    <div *ngSwitchCase="'multi'">
      <ng-container *ngTemplateOutlet="multi"></ng-container>
    </div>

    <div *ngSwitchCase="'sort'">
      <ng-container *ngTemplateOutlet="sort"></ng-container>
    </div>
  </ng-container>

  <!--単一選択-->
  <ng-template #single>
    <div>
      <mat-radio-group
        aria-labelledby="radio-button-label"
        class="selection-group"
        [(ngModel)]="favoriteSeason"
      >
        <mat-radio-button
          class="radio-button"
          *ngFor="let singleChoice of singleChoices"
          [value]="singleChoice"
        >
          {{ singleChoice }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-template>

  <!--複数選択-->
  <ng-template #multi>
    <div class="multi-choice">
      <ul>
        <li *ngFor="let &quot;multi-choice&quot; of multiChoice.choiceList">
          <mat-checkbox [(ngModel)]="multiChoice.completed">
            {{ multiChoice.name }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
  </ng-template>

  <!--並び替え-->
  <ng-template #sort>
    <div class="sort-choice">
      <div cdkDropList class="sort-list" (cdkDropListDropped)="drop($event)">
        <div class="sort-box" *ngFor="let sort of sorts" cdkDrag>
          {{ sort }}
        </div>
      </div>
    </div>
  </ng-template>
  <!--下部ボタン-->
  <div class="button-container">
    <button mat-raised-button color="primary">閉じる</button>
    <button mat-raised-button color="primary">次の問題</button>
  </div>
</div>
