<div class="container">
  <div class="title">解答率</div>
  <mat-card class="main-card">
    <p>全体の解答率</p>
    <div class="total-value">
      <p>{{ this.questionsValue }}%</p>
    </div>
    <mat-progress-bar
      class="progress-bar-style"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
  </mat-card>

  <mat-card class="main-card">
    <div>ジャンル別の解答率</div>
    <li
      class="progress-bar-style"
      *ngFor="let categories of this.categoriesData"
    >
      <div class="name-and-value">
        <p>{{ categories.name }}</p>
        <p>{{ categories.value }}%</p>
      </div>

      <mat-progress-bar [value]="categories.value"></mat-progress-bar>
    </li>
  </mat-card>
  <!--下部ボタン-->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="closeLiff()">
      閉じる
    </button>
  </div>
</div>
